<section class="tierlist-page">
  <h1>Tierlist</h1>
  <button type="button" class="tierlist-download" (click)="downloadAsPng()">Download as PNG</button>

  <div id="tierlist-board" class="tierlist-board">
    <div class="tier-row" *ngFor="let tier of tiers">
      <div class="tier-label">{{ tier }}</div>
      <div class="tier-dropzone" cdkDropList [cdkDropListData]="tierItems[tier]" [cdkDropListConnectedTo]="['pool', 'S', 'A', 'B', 'C', 'D']" [id]="tier" (cdkDropListDropped)="drop($event)">
        <div class="tier-kaiju" *ngFor="let kaiju of tierItems[tier]" cdkDrag>
          {{ kaiju.name }}
        </div>
      </div>
    </div>

    <div class="tier-row">
      <div class="tier-label">Pool</div>
      <div class="tier-dropzone" cdkDropList id="pool" [cdkDropListData]="unplacedKaijus" [cdkDropListConnectedTo]="['S', 'A', 'B', 'C', 'D']" (cdkDropListDropped)="drop($event)">
        <div class="tier-kaiju" *ngFor="let kaiju of unplacedKaijus" cdkDrag>
          {{ kaiju.name }}
        </div>
      </div>
    </div>
  </div>
</section>
